html, body{
  width: 100%;
  background-color: #000000;
  height: 100%;
}
.links{
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

.search{
  /* position: absolute; */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  text-align: center;
  /* overflow:hidden; */
  width: 100%;
  /* height:40px; */
  /* padding:1; */
  /* margin-left: auto; */
  /* margin-right: auto; */
}
/* iframe{ */
/*   width: 100%; */
/* } */
form {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
form > input[type="text"] {
  height: 49px;
  /* width: 200px; */
  width: 1200px;
  margin-left: 24px;
  margin-right: 24px;
  font-size: 23px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #000;
  vertical-align: top;
}
